
{% extends 'EnterPage/base.html' %}
{% block title %}User Job Details{% endblock %}
{% block body %}
    <h1>{{ user.username }}</h1>

    <h2>Here all your Jobs</h2>

    {% if error_msg %}
        <p><strong>{{ error_msg }}</strong></p>
    {% endif %}


        {% for job in user.job_set.all %}
            <li>
            {{ job.job_name }}
            {% if job.is_fav %}
                <img src="http://i.imgur.com/b9b13Rd.png"/>
            {% endif %}
            <br>
            </li>
        {% endfor %}

{% endblock %}

<!--
<ul>{% comment %}
    {% for job in user.job_set.all %}
    <li>
        {{ job.job_name }} - {{ job.job_priority }}
    </li>
    {% endfor %}
    {% endcomment %}
</ul>
-->