 <!DOCTYPE html><ul>{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>PopGen 2.0 Configuration Generator
    </title>
    <!--<link href="css/metro.css" rel="stylesheet">-->
    <link href="{% static 'job_enter/metro.css' %}" rel="stylesheet">
    <!--<link href="css/metro-icons.min.css" rel="stylesheet">-->
      <link href="{% static 'job_enter/metro-icons.min.css' %}" rel="stylesheet">
    <!--<link href="css/metro-responsive.min.css" rel="stylesheet">-->
      <link href="{% static 'job_enter/metro-responsive.min.css' %}" rel="stylesheet">
    <link href="css/metro-rtl.min.css" rel="stylesheet">
    <link href="css/metro-schemes.min.css" rel="stylesheet">
    <script src="scripts/jquery.js">
    </script>
    <script src="js/stickyfill.min.js">
    </script>
    <script src="js/metro.js">
    </script>
    <script src="js/angular.min.js">
    </script>
	<link rel="icon" href="popgen.ico">
  </head>
  <body>
    <div class="flex-grid" style="width:70%;margin: 0 auto" ng-app="">
      <h1 class="text-light">PopGen 2.0 E Drive
      </h1>
      <div class="app-bar teal" data-role="appbar">
        <a class="app-bar-element active" href="#">PopGen
        </a>
        <span class="app-bar-divider">
        </span>
        <ul class="app-bar-menu">
          <li>
            <a href="">SimTravel.org
            </a>
          </li>
          <li>
            <a href="">Documentation
            </a>
          </li>
          <li>
            <a href="">GitHub
            </a>
          </li>
		  <li>
            <a href="">Contact Us
            </a>
          </li>
		  <li>
            <a href="">About
            </a>
          </li>
          <li>
            <a href="joutput.html">Output of Job(s)
            </a>
          </li>
        </ul>
      </div>
      <ul class="breadcrumbs2 large" id="navbar">
        <li class="active" onclick="show('project')">
          <a href="#project">
            <span class="mif-home">&nbspProject
            </span>
          </a>
        </li>
        <li onclick="show('controls')">
          <a href="#controls">
            <span class="mif-keyboard">&nbspControls
            </span>
          </a>
        </li>
        <li onclick="show('parameters')">
          <a href="#parameters">
            <span class="mif-cogs">&nbspParameters
            </span>
          </a>
        </li>
        <li onclick="show('geographies')">
          <a href="#geographies">
            <span class="mif-earth">&nbspGeographies
            </span>
          </a>
        </li>
        <li onclick="show('output')">
          <a href="#output">
            <span class="mif-stack">&nbspOutput
            </span>
          </a>
        </li>
        <li onclick="show('synthesis')">
          <a href="#synthesis">
            <span class="mif-magic-wand">&nbspSynthesis
            </span>
          </a>
        </li>
      </ul>
      <div class="row flex-just-sb">
        <div class="cell colspan12">
          <div id="project" style="" class="page">		  
            <div style="text-align:center">
			<form id="plabel">
              <div class="input-control modern text">
                <input type="text" name="pname">
                <span class="label">Project Name
                </span>
                <span class="informer">e.g., PopGen_Project
                </span>
                <span class="placeholder">Project Name
                </span>
              </div>
              <div class="input-control modern text">
                <input type="text" name="hhldentityname">
                <span class="label">Household Entity Name
                </span>
                <span class="informer">e.g., hhld
                </span>
                <span class="placeholder">Household Entity Name
                </span>
              </div>
              <div class="input-control modern text">
                <input type="text" name="personentityname">
                <span class="label">Person Entity Name
                </span>
                <span class="informer">e.g., person
                </span>
                <span class="placeholder">Person Entity Name
                </span>
              </div>
              <br>
              <div class="input-control modern text">
                <input type="text" name="gqentityname">
                <span class="label">Groupquarter Entity Name
                </span>
                <span class="informer">e.g., gq
                </span>
                <span class="placeholder">Groupquarter Entity Name
                </span>
              </div>
              <div class="input-control modern text">
                <input name="aggregate" type="text" ng-model="aggregate" ng-init="aggregate='Region'">
                <span class="label">Aggregate Spatial Unit Name
                </span>
                <span class="informer">e.g., County
                </span>
                <span class="placeholder">Aggregate Spatial Unit
                </span>
              </div>
              <div class="input-control modern text">
                <input type="text" name="disaggregate" ng-model="disaggregate" ng-init="disaggregate='Geo'">
                <span class="label">Disaggregate Spatial Unit Name
                </span>
                <span class="informer">e.g., TAZ
                </span>
                <span class="placeholder">Disaggregate Spatial Unit
                </span>
              </div>
              <br>
              <div class="input-control modern text">
                <input type="text" name="samplename" ng-model="sampleu" ng-init="sampleu='Sample'">
                <span class="label">Sample Spatial Unit Name
                </span>
                <span class="informer">e.g., PUMA
                </span>
                <span class="placeholder">Sample Spatial Unit Name
                </span>
              </div>
              <div class="input-control modern text">
                <input type="text" name="folderlocation">
                <span class="label">Project Folder Location
                </span>
                <span class="informer">e.g., C:\Users\jdoe\PopGen
                </span>
                <span class="placeholder">Project Folder Location
                </span>
              </div>
			  </form>			  
            </div>
            <div class="flex-grid">
			<form id="uploader" method="post" enctype="multipart/form-data">
              <div class="row">
                <div class="cell size3">
                  <h4>a. Select Sample Files
                  </h4>
                </div>
              </div>
              <div class="row flex-just-sb cells3">
                <div class="cell size4">
                  <p>Select Household Sample File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input name="household_sample" type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select Person Sample File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input name="person_sample" type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select Groupquarter Sample File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input name="groupquarter_sample" type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="cell size5">
                  <h4>b. Select {{ aggregate }}-Marginal Files
                  </h4>
                </div>
              </div>
              <div class="row cells3">
                <div class="cell size4">
                  <p>Select Household Marginal File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input name="region_household_marginal" type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select Person Marginal File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input name="region_person_marginal" type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select Groupquarter Marginal File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input name="region_groupquarter_marginal" type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <!-- Replace 'Geo' with Disaggregate Spatial and Region with 'Aggregate' spatial -->
              <div class="row">
                <div class="cell size5">
                  <h4>c. Select {{ disaggregate }}-Marginal Files
                  </h4>
                </div>
              </div>
              <div class="row cells3">
                <div class="cell size4">
                  <p>Select Household Marginal File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input name="geo_household_marginal" type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select Person Marginal File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input name="geo_person_marginal" type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select Groupquarter Marginal File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input name="geo_groupquarter_marginal" type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="cell size5">
                  <h4>d. Select Mapping Files
                  </h4>
                </div>
              </div>
              <div class="row cells3">
                <div class="cell size4">
                  <p>Select {{ aggregate }}-{{ disaggregate }} Mapping File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input name="region_geo_mapping" type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select {{ sampleu }}-{{ aggregate }} Mapping File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input name="region_sample_mapping" type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select {{ sampleu }}-{{ disaggregate }} Mapping File
                  </p>
                  <div class="input-control file" data-role="input">
                    <input name="geo_sample_mapping" type="file" accept=".csv,.txt,.dat">
                    <button class="button">
                      <span class="mif-folder">
                      </span>
                    </button>
                  </div>
                </div>
              </div>
			  <div class="row">
				<div class="cell size12" style="text-align:center">
					<p>Click to Update Variable List</p>
					<input type="submit" value="Update">
				</div>
			  </div>
			  </form>
			  <form id="varassoc">
              <div class="row">
                <div class="cell size5">
                  <h4>e. Select Variable Associations
                  </h4>
                </div>
              </div>
              <div class="row cells3">
                <div class="cell size4">
                  <p>Select Household ID Variable
                  </p>
                  <div class="input-control select">
                    <select class="varopts" name="hhldvar">
                      
                    </select>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select Person ID Variable
                  </p>
                  <div class="input-control select">
                    <select class="varopts" name="personvar">
                      
                    </select>
                  </div>
                </div>
                <div class="cell size4">
                  <p>Select {{ aggregate }} Variable
                  </p>
                  <div class="input-control select">
                    <select class="varopts" name="regionvar">
                      
                    </select>
                  </div>
                </div>
              </div>
              <div class="row cells3">
                <div class="cell size4">
                  <p>Select {{ disaggregate }} Variable
                  </p>
                  <div class="input-control select">
                    <select class="varopts" name="geovar">
                      
                    </select>
                  </div>
                </div>
                <div class="cell size8">
                  <p>Select Sample {{ disaggregate }} Variable
                  </p>
                  <div class="input-control select">
                    <select class="varopts" name="samplegeovar">
                      
                    </select>
                  </div>
                </div>			
              </div>
			  <br>
			 <!--			  
				<div class="row">
				<div class="cell size12" style="text-align:center">					
					<input type="submit" value="Next">
				</div>
			  </div> 
			  -->
			  </form>
            </div>
          </div>
          <div id="controls" style="display:none" class="page">
		  <form id="controlsform">
            <div style="text-align:center">
              <div class="input-control modern text">
                <input type="text" name="scenariodescription">
                <span class="label">Enter Scenario Description
                </span>
                <span class="informer">e.g., Pop_Scenario1
                </span>
                <span class="placeholder">Scenario Description
                </span>
              </div>
		  </form>
              <div class="flex-grid">
                <div class="row">
                  <div class="cell size8" style="text-align: left">
                    <h4>a. Select Control Variables for Household at {{ aggregate }} Level
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="cell size12">
                    <form id="selection1" method="post" onSubmit="return selectAll()">
                      <select multiple size="10" id="hhldaggrfrom" name="hhldaggrfrom[]">
                       
                      </select>
                      <div class="controls">                                         
                        <span class="item">
                          <a href="javascript:moveSelected('hhldaggrfrom', 'hhldaggrto')">&gt;
                          </a>
                        </span>
                        <span class="item">
                          <a href="javascript:moveSelected('hhldaggrto', 'hhldaggrfrom')">&lt;
                          </a>
                        </span>                                         
                      </div>
                      <select multiple id="hhldaggrto" name="hhldaggrto[]" size="10" >
                      </select>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <br>
                  <div class="cell size8" style="text-align: left">
                    <h4>b. Select Control Variables for Person at {{ aggregate }} Level
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="cell size12">
                    <form id="selection2" method="post" onSubmit="return selectAll()">
                      <select multiple size="10" id="personaggrfrom" name="personaggrfrom[]">
                        
                      </select>
                      <div class="controls">                                       
                        <span class="item">
                          <a href="javascript:moveSelected('personaggrfrom', 'personaggrto')">&gt;
                          </a>
                        </span>
                        <span class="item">
                          <a href="javascript:moveSelected('personaggrto', 'personaggrfrom')">&lt;
                          </a>
                        </span>                              
                      </div>
                      <select multiple id="personaggrto" size="10"  name="personaggrto[]">
                      </select>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <br>
                  <div class="cell size8" style="text-align: left">
                    <h4>c. Select Control Variables for Household at {{ disaggregate }} Level
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="cell size12">
                    <form id="selection3" method="post" onSubmit="return selectAll()">
                      <select multiple size="10" id="hhlddaggrfrom" name="hhlddaggrfrom[]">
                       
                      </select>
                      <div class="controls">                                      
                        <span class="item">
                          <a href="javascript:moveSelected('hhlddaggrfrom', 'hhlddaggrto')">&gt;
                          </a>
                        </span>
                        <span class="item">
                          <a href="javascript:moveSelected('hhlddaggrto', 'hhlddaggrfrom')">&lt;
                          </a>
                        </span>                               
                      </div>
                      <select multiple id="hhlddaggrto" size="10" name="hhlddaggrto[]">
                      </select>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <br>
                  <div class="cell size8" style="text-align: left">
                    <h4>d. Select Control Variables for Person at {{ disaggregate }} Level
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="cell size12">
                    <form id="selection4" method="post" onSubmit="return selectAll()">
                      <select multiple size="10" id="persondaggrfrom" name="persondaggrfrom[]">
                      
                      </select>
                      <div class="controls">                                      
                        <span class="item">
                          <a href="javascript:moveSelected('persondaggrfrom', 'persondaggrto')">&gt;
                          </a>
                        </span>
                        <span class="item">
                          <a href="javascript:moveSelected('persondaggrto', 'persondaggrfrom')">&lt;
                          </a>
                        </span>                                          
                      </div>
                      <select multiple id="persondaggrto" size="10"  name="persondaggrto[]">
                      </select>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <br>
                  <div class="cell size8" style="text-align: left">
                    <h4>e. Select Control Variables for Household at Groupquarter Level
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="cell size12">
                    <form id="selection5" method="post" onSubmit="return selectAll()">
                      <select multiple size="10" id="hhldgqfrom" name="hhldgqfrom[]">
                        
                      </select>
                      <div class="controls">                                      
                        <span class="item">
                          <a href="javascript:moveSelected('hhldgqfrom', 'hhldgqto')">&gt;
                          </a>
                        </span>
                        <span class="item">
                          <a href="javascript:moveSelected('hhldgqto', 'hhldgqfrom')">&lt;
                          </a>
                        </span>                               
                      </div>
                      <select multiple id="hhldgqto" size="10" name="hhldgqto[]">
                      </select>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <br>
                  <div class="cell size8" style="text-align: left">
                    <h4>f. Select Control Variables for Person at Groupquarter Level
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="cell size12">
                    <form id="selection6" method="post" onSubmit="return selectAll()">
                      <select multiple size="10" id="persongqfrom" name="persongqfrom[]">
                        
                      </select>
                      <div class="controls">                                      
                        <span class="item">
                          <a href="javascript:moveSelected('persongqfrom', 'persongqto')">&gt;
                          </a>
                        </span>
                        <span class="item">
                          <a href="javascript:moveSelected('persongqto', 'persongqfrom')">&lt;
                          </a>
                        </span>                                          
                      </div>
                      <select multiple id="persongqto" size="10"  name="persongqfrom[]">
                      </select>
                    </form>
                  </div>
                </div>
              </div>
            </div>			
          </div>
          <div id="parameters" style="display:none" class="page">
		  <form id="paramform">
            <div class="flex-grid">
              <div class="row">
                <div class="cell size8" style="text-align: left">
                  <h4>a. Enter IPF (Iterative Proportional Fitting) Settings
                  </h4>
                </div>
              </div>
              <div class="row flex-just-sa">						
                <div class="cell size2">                  
				  <p>Tolerance</p>
				  <input type="range" id="ipftolerance" name="ipftolerance" min="0.0001" max="0.1" value="0" step="0.0001" oninput="ipftoleranceout.value=ipftolerance.value">                                                
				  <output name="ipftoleranceout">0</output>              
                </div>
				<div class="cell size2">                  
				  <p>Iterations</p>
				  <input type="range" id="ipfiterations" name="ipfiterations" min="0" max="100" value="0" step="10" oninput="ipfiterationsout.value=ipfiterations.value;ipfarchive.max=ipfiterations.value">                                                
				  <output name="ipfiterationsout">1</output>                  
                </div>
				<div class="cell size3">                  
				  <p>Zero Marginal Correction</p>
				  <input type="range" id="ipfzero" name="ipfzero" min="0" max="0.001" value="0" step="0.00001" oninput="ipfzeroout.value=ipfzero.value">                                                
				  <output name="ipfzeroout">0.00001</output>              
                </div>
				<div class="cell size2">                  
				  <p>Archive Performance</p>
				   <input type="range" id="ipfarchive" name="ipfarchive" min="1" max="1000" value="0" step="1" oninput="ipfarchiveout.value=ipfarchive.value">                                                
				  <output name="ipfarchiveout">1</output>             
                </div>
              </div>
              <div class="row flex-just-sa">
                <div class="cell size3">
                  <p>Select Rounding Procedure</p>
                  <div class="input-control select">
                    <select name="roundingproc">
                      <option>bucket</option>															
                    </select>
                  </div>
                </div>                            
              </div>
              <div class="row">
                <div class="cell size8" style="text-align: left">
                  <h4>b. Enter Reweighting Settings
                  </h4>
                </div>
              </div>
              <div class="row flex-just-sa">						
                
				 <div class="cell size2">                  
				  <p>Tolerance</p>
				  <input type="range" id="retolerance" name="retolerance" min="0.0001" max="0.1" value="0" step="0.0001" oninput="retoleranceout.value=retolerance.value">                                                
				  <output name="retoleranceout">0</output>              
                </div>
				<div class="cell size2">                  
				  <p>Inner Iterations</p>
				  <input type="range" id="reiniterations" name="reiniterations" min="1" max="10" value="0" step="1" oninput="reiniterationsout.value=reiniterations.value">                                                
				  <output name="reiniterationsout">1</output>                  
                </div>
				<div class="cell size2">                  
				  <p>Outer Iterations</p>
				  <input type="range" id="reoutiterations" name="reoutiterations" min="0" max="500" value="0" step="50" oninput="reoutiterationsout.value=reoutiterations.value;rearchive.max=reoutiterations.value">                                                
				  <output name="reoutiterationsout">1</output>                  
                </div>
				<div class="cell size2">                  
				  <p>Archive Performance</p>
				   <input type="range" id="rearchive" name="rearchive" min="1" max="1000" value="0" step="1" oninput="rearchiveout.value=rearchive.value">                                                
				  <output name="rearchiveout">1</output>             
                </div>    
			</div>
              <div class="row flex-just-sa">
                <div class="cell size3">
                  <p>Select Reweighting Procedure</p>
                  <div class="input-control select">
                    <select name="reweightproc">
                      <option>ipu</option>	
					  <option>entropy</option>					  
                    </select>
                  </div>
                </div>                            
              </div>            
              </div>
              <div class="row">
                <div class="cell size8" style="text-align: left">
                  <h4>c. Enter Draws Settings
                  </h4>
                </div>
              </div>
			  <div class="row flex-just-sa">
			  <div class="cell size3">                  
				  <p>P-Value Tolerance</p>
				  <input type="range" id="pval" name="pval" min="0.9" max="0.99999" value="0" step="0.00001" oninput="pvalout.value=pval.value">                                                
				  <output name="pvalout">0</output>              
                </div>
				<div class="cell size3">                  
				  <p>Iterations</p>
				  <input type="range" id="drawsiterations" name="drawsiterations" min="1" max="25" value="0" step="1" oninput="drawsiterationsout.value=drawsiterations.value">                                                
				  <output name="drawsiterationsout">1</output>                  
                </div>					
                <div class="cell size3">                  
                  <div class="input-control modern text">
                    <input name="seed" type="number">
                    <span class="label">Seed
                    </span>
                    <span class="informer">e.g., 250
                    </span>
                    <span class="placeholder">Seed
                    </span>
                  </div>
                  <br>
                </div>
              </div>                        
            </form>
          </div>
          <div id="geographies" style="display:none" class="page">
            <div class="flex-grid">
              <div class="row">
                <div class="cell size8" style="text-align: left">
                  <h4>a. Select {{ aggregate }}(s) to synthesize
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="cell size12">
                  <form id="regionssynth" method="post" onSubmit="return selectAll()">
                    <select multiple size="10" id="aggrsynthfrom">
                      
                    </select>
                    <div class="controls">                                           
                      <span class="item">
                        <a href="javascript:moveSelected('aggrsynthfrom', 'aggrsynthto')">&gt;
                        </a>
                      </span>
                      <span class="item">
                        <a href="javascript:moveSelected('aggrsynthto', 'aggrsynthfrom')">&lt;
                        </a>
                      </span>                                            
                    </div>
                    <select multiple id="aggrsynthto" name="aggrsynthto[]" size="10"  >
                    </select>
                  </form>
                </div>
              </div>
              <div class="row">
                <br>
                <div class="cell size8" style="text-align: left">
                  <h4>b. {{ disaggregate }}(s) being synthesized
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="cell size12">                                     
                    <select multiple style="width:96.5%;text-align:center;" id="disaggrsynthto" size="10" >
                    </select>                  
                </div>
              </div>
            </div>
          </div>
          <div id="output" style="display:none" class="page">
            <div class="flex-grid">
			<form id="tabulations">
              <div class="row">
                <div class="cell size12" style="text-align: center;">
                  <h4>Click +/- to add new Tabulation
                  </h4>				  
                </div>				
              </div>
			  <div class="row">
                <div class="cell size12" style="text-align: center">
				<button id="tab-adder" onclick="addSingleTab()" class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
					<span class="icon mif-plus"></span>
					<span class="title">Add Single</span>
				</button>
				<button id="tab-adder" onclick="addTab()" class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
					<span class="icon mif-plus"></span>
					<span class="title">Add Multiway</span>
				</button>
				<button onclick="removeTab()" class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
					<span class="icon mif-minus"></span>
					<span class="title">Remove</span>
				</button>
				</div>
			  </div>			  
			  <br id="tab-add"></br>
			  </form>
			</div>
          </div>
		  <br>
          <div id="synthesis" style="display:none" class="page">
		  <form id="finalpg">
			<div style="text-align:center">              
              <div class="input-control modern text">
                <input type="text" name="regionsummaryname">
                <span class="label">{{aggregate}} Summary Name
                </span>
                <span class="informer">e.g., TAZ_Summary
                </span>
                <span class="placeholder">{{aggregate}} Summary Name
                </span>
              </div>
              <div class="input-control modern text">
                <input type="text" name="geosummaryname">
                <span class="label">{{disaggregate}} Summary Name
                </span>
                <span class="informer">e.g., County_Summary
                </span>
                <span class="placeholder">{{disaggregate}} Summary Name
                </span>
              </div>              
			</div>
			<div style="text-align:center">
			<button class="shortcut-button bg-green bg-active-cyan fg-white" style="width: 30%">
			<span class="icon mif-magic-wand"></span>
			<span class="title">Run Synthesis</span>
			</button>
			</div>
		</form>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="js/custom.js">
  </script>
</html>
