{% extends 'EnterPage/base.html' %}

{% block body %}
    {% if object_list %}
        <h3>Here all your Users</h3>
        <ul>
            {% for user in object_list %}
            <li>
                <a href="{% url 'EnterPage:user_details' user.id %}">{{ user.username }}</a>
                <a href="{% url 'EnterPage:user_update' user.id %}">Update</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>You dont have any Users</h3>
    {% endif %}
{% endblock %}
